[Unit]
Description=Grafana Matrix Forwarder
After=network.target

[Service]
User={{ grafana_matrix_forwarder_systemd_user }}
Group={{ grafana_matrix_forwarder_systemd_group }}
ExecStart={{ grafana_matrix_forwarder_path }} --user {{ grafana_matrix_forwarder_username }} \
  --password {{ grafana_matrix_forwarder_password }} --homeserver {{ grafana_matrix_forwarder_homeserver }} \
  -metricRounding {{ grafana_matrix_forwarder_metric_rounding }} -port {{ grafana_matrix_forwarder_port }} \
  -host {{ grafana_matrix_forwarder_host }} -resolveMode {{ grafana_matrix_forwarder_resolve_mode }}
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
